.outer{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border: 2px solid black;
    border-radius: 10px;
}
button{
    margin-top: 15px;
    height: 40px;
    width: 60px;
   
    border: none;
    font-size: x-large;
}
img{
    height: 100px;
    width: 100px;
    position: absolute;
    margin-top: -138px;
    margin-left: -27px;
}

}